* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  color: #ccc;
  background-color: #1a1a1a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-section {
  width: 40%;
  padding: 1em;
}

.right-section {
  width: 60%;
  padding: 2em;
  background-size: cover;
}

header {
  text-align: center;
  background-color: #171717;
  padding: 2em;
  border-radius: 1em;
  max-width: 100%;
}

button {
  padding: 1em 3em;
  background-color: #2a623d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1em;
  text-align: center;
}

button:hover {
  background-color: #1e4620;
}

.diary {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.diary.show {
  opacity: 1;
  visibility: visible;
}

.diary section {
  position: relative;
  background-color: #171717;
  background-image: url('img/img.png');
  background-attachment: scroll;
}

section {
  padding: 2em;
  border: 0.2em solid rgba(192, 192, 192, 0.2);
  border-radius: 1em;
  overflow-y: auto;
  max-height: calc(100vh - 14em);
  position: relative;
}

section::-webkit-scrollbar {
  width: 12px;
}

section::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

section::-webkit-scrollbar-thumb {
  background-color: #2a623d;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
}

article {
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  border-radius: 8px;
}

footer {
  background-color: #2a623d;
  color: seashell;
  text-align: center;
  padding: 0.2em 0;
  width: 100%;
  margin-top: auto;
}

a {
  color: #b8c7a3;
  text-decoration: none;
}

#headerText, #line1, #line2 {
  letter-spacing: 0.6em;
}

.lines {
  display: flex;
  font-size: 1.2vw;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
  position: relative;
}

.lines div {
  font-size: 1.5em;
  margin: 0.5em 0;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.8s;
}

.lines div:hover {
  color: orangered;
}

#line1 {
  position: relative;
}

#line2 {
  position: absolute;
  left: 0;
  top: 2em;
}

#line1 span, #line2 span {
  display: inline-block;
  transition: opacity 0.25s, transform 0.25s;
}

.hidden {
  display: none;
}

.corner-image {
  position: fixed;
  width: 20vw;
  bottom: -20%;
  right: -10%;
  transform: rotate(80deg);
  height: auto;
  filter: invert(100%);
}

::selection {
  background: silver;
  color: black;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    color: #ccc;
  }
  50% {
    color: orangered;
  }
  100% {
    opacity: 0;
    color: #1a1a1a;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    color: #1a1a1a;
  }
  50% {
    color: orangered;
  }
  100% {
    opacity: 1;
    color: #ccc;
  }
}

.fade-out {
  animation: fadeOut 2s forwards;
}

.fade-in {
  animation: fadeIn 2s forwards;
}

@media (min-width: 1024px) {
  .diary {
    max-width: 80%;
    font-size: 1.2em;
    margin: 0 auto;
  }

  .left-section {
    width: 30%;
  }

  .right-section {
    width: 70%;
  }

  .lines {
    font-size: 0.85vw;
  }

  button {
    font-size: 1.1em;
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .left-section,
  .right-section {
    width: 100%;
    height: auto;
  }

  header, footer {
    padding: 1em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 1.2em;
  }

  .left-section, .right-section {
    padding: 1em;
  }

  section {
    padding: 1em;
    max-height: calc(100vh);
  }

  .lines {
    display: flex;
    font-size: 2.8vw;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
    position: relative;
  }

  .corner-image {
    bottom: -10%;
    right: -5%;
    transform: rotate(60deg);
    width: 20vw;
  }

}
